*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #ccc;
}
.meeting{
    width: 50%;
    height: 700px;
    margin: auto;
    padding: 30px 50px;
    background: #ffffff;
}
.meeting .top{
    width: 100%;
    height: 30px;
    padding-left: 15px;
    border: 1px solid #0000006e;
    border-radius: 10px;
}
#mch{
    width: 15px;
    height: 15px;
    margin:0px 5px 0px 0px;
}
.box1{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#date{
    width: 100%;
}
