*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background{
    width: 550px;
    height: 400px;
    margin: auto;
    padding-top: 23px;
    background-color: #b30202d9;
}
.main{
    width: 95%;
    height: 95%;
    margin: auto;
    padding: auto;
    border-radius: 10px;
    background-color: rgb(255, 242, 242);
}
form input[type=text],[type=password], [type=button]{
    width: 80%;
    height: 50px;
    border: none;
    margin: 20px 50px;
    font-size: 20px;
    border-radius: 5px;
}
form input[type=checkbox]{
    margin-left: 50px;
}
.rem span{
    margin-right: 55px;
}
.rem a{
    text-decoration: none;
    color: red;
}
.button input[type=button]{
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
.button input[type=button]:hover{
    font-size: 30px;
    background-color: #0206e3;
}